.bouton {
    padding: 12px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    
}

/* Hover button */
.bouton:hover {
    background: #0056b3;
}
